@use './../../../../v';

.main-page__record-card {
    @include v.fullBleed('./../../../../assets/img/card/card_background.webp');
    height: 1100px;
    margin-top: 50px;
    position: relative;
    .main-page__record-card-card {
        width: 80%;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
    }
    .main-page__record-card-vector-container {
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 90px;
        z-index: 1;
        .main-page__record-card-vector {
            @include v.fullBleed('./../../../../assets/img/card/card_vector.webp');
            height: 100%;
        }
    }
}