@use './../../../../v';

.pc-menu {
  display: grid;
  grid-template-columns: max-content 1fr 40% max-content;
  gap: 15px;
  width: 100%;
  align-items: center;
  max-width: v.$smallContainer;
  margin: 0 auto;
  padding: 10px 0;

  @media screen and (max-width: 1040px) {
    display: none;
  }

  &__logo {
    width: 70px;
    height: 40px;
  }
}