.img-card {
    transform: rotate(-1.39deg);
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    padding: 5.45% 6.8%;
    width: fit-content;
    .img-card__img {
        width: 100%;
        transform: rotate(1.4deg);
    }
    .img-card__name {
        margin-top: .384em;
        font-size: 23px;
    }
}