@use './../../../../../../v';
@use './../../otherImages.scss';

.zheleznodorozhnyy-other-images {
  .other-images__inner1 {
    display: flex;
    gap: 30px 6.6%;
    @media screen and (max-width: 1040px) {
      flex-direction: column; 
    }
    .other-images__img1-container {
      .other-images__img1 {
        @include v.maxSize(592, 890);
      }
    }

    .other-images__img2-container {
      .other-images__img2 {
        @include v.maxSize(571, 777);
      }
      .other-images__sign {
        @include otherImages.sign;
        text-align: end;
      }
    }
  }

  .other-images__inner2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @media screen and (min-width: 1041px) {
      margin-top: -6%;
      column-gap: 4%;
    }
    @media screen and (max-width: 1040px) {
      grid-template-columns: 1fr;
      row-gap: 30px;
      margin-top: 30px;
    }
    .other-images__img3-container {
      @media screen and (min-width: 1041px) {
        margin-top: 15px;
      }
      .other-images__img3 {
        @include v.maxSize(446, 479);
      }
    }

    .other-images__img4-container {
      display: flex;
      @media screen and (min-width: 1041px) {
        grid-column: 1;
        grid-row: 1 / 3;
        margin-top: 25%;
      }
      @media screen and (max-width: 1040px) {
        flex-direction: column; 
      }
      .other-images__img4 {
        @include v.maxSize(584, 780);
      }
      .other-images__sign {
        @include otherImages.sign;
        writing-mode: vertical-lr;
        display: flex;
        margin: 0;
        margin-top: -70px;
        justify-content: center;
      }
    }

    .other-images__img5-container {
      @media screen and (min-width: 1041px) {
        margin-top: 8.6%;
      }
      .other-images__img5 {
        @include v.maxSize(638, 641);
      }
    }
  }
}