@mixin inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px 5.8%;
  @media screen and (max-width: 1040px) {
    flex-direction: column;
    align-items: initial;
    margin-top: 30px;
  }
}

.interier {
  margin-top: max(3.14%, 30px);
  position: relative;
  z-index: 2;
  img {
    width: 100%;

    @media screen and (max-width: 1040px) {
      max-height: 800px;
      object-fit: cover;
    }
  }
}