.map {
  height: 700px;
  width: 100%;
  margin-top: 55px;
  position: relative;
  @media screen and (max-width: 1040px) {
    margin-top: 200px; 
  }
  .map__shop {
    position: absolute;
    inset: 15% auto auto 10%;
    background-color: white;
    padding: 35px;
    z-index: 1;
    @media screen and (max-width: 1040px) {
      inset: -46% auto auto 50%;
      transform: translateX(-50%) translateY(50%); 
    }
    & > div {
      margin-top: 45px;
      p {
        font-size: 26px;
        margin-top: 5px;
        white-space: nowrap;
      }
    }
  }
}