@use './../../../v';

.hashLinks {
  margin-top: max(3.75%, 30px);

  .hashLinks__inner {
    display: flex;
    justify-content: space-evenly;
    gap: 7px 15px;
    flex-wrap: wrap;
    font-size: 40px;

    @media screen and (max-width: 1040px) {
      font-size: 30px;
    }
    @media screen and (max-width: 576px) {
      font-size: 25px;
    }
  }

  .hashLinks__item {
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-color .25s;

    &:hover {
      border-color: v.$green;
    }
  }
}