@use './../../../../v';

.main-page__menu {
    margin-top: 60px;
    position: relative;
    .main-page__menu-heading-container {
        @include v.fullBleed('./../../../../assets/img/menu.webp');
        max-height: 800px;
        height: 70vw;
        display: flex;
        align-items: center;
        justify-content: center;
        .main-page__menu-heading {
            color: white;
            font-size: 90px;
        }
    }
}