.review {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    align-items: center;
    .review__heading {
        font-weight: 700;
        font-size: 100px;
    }
    .review__yandex-img {
        width: 190px;
        height: 70px;
        margin-left: 140px;
        cursor: pointer;
        & > img {
            width: 100%;
        }
    }
}