.other-coffe-shops {
    margin-top: 90px;
    .other-coffe-shops__heading {
        font-size: 80px;
    }
    .other-coffe-shops__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px 50px;
        margin-top: 120px;
    }
}