.other-coffe-shops {
    margin-top: 90px;
    position: relative;
    @media screen and (max-width: 1040px) {
        margin-top: max(30px, 6%);   
    }
    .other-coffe-shops__leaf {
        top: -5%;
        width: 300px;
    }
    .other-coffe-shops__heading {
        font-size: 80px;
        display: flex;
        justify-content: flex-end;
        margin-right: 10%;
        @media screen and (max-width: 1040px) {
            font-size: 70px;
            margin-right: 0;
            justify-content: center;
        }
        @media screen and (max-width: 768px) {
            row-gap: 0.4rem;
            align-items: flex-start;
            flex-direction: column;  
            font-size: 45px;
        }
        @media screen and (max-width: 576px) {
            font-size: 40px;
        }
    }
    .other-coffe-shops__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: max(15px, 1.6vw) max(25px, 2.7vw);
        margin-top: 7.5%;
        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }
}