@use './../../../../v';

@mixin fairyLights {
    position: absolute;
    z-index: -1;
}

.about-us {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 70px;
    padding: 0 20px;
    .about-us__leaf {
        left: -50px;
        top: -23%;
        z-index: 1;
    }
    .about-us__img1-container {
        position: relative;
        .about-us__img1 {
            width: 594px;
            height: 828px;
        }
        .about-us__fairy-lights {
            @include fairyLights;
            top: 36%;
            right: -70%;
        }
        .about-us__small-fairy-lights {
            @include fairyLights;
            top: 10%;
            right: -43%;
            transform: rotateZ(12deg);
        }
        .about-us__small-fairy-lights2 {
            @include fairyLights;
            top: 20%;
            left: -70px;
        }
    }
    .about-us__content {
        .about-us__img-cards {
            display: flex;
            justify-content: flex-end;
            .about-us__img-card {
                &:nth-child(1) {
                    transform: rotate(-12.63deg);
                    & > img {
                        transform: rotate(12deg);
                    }
                }
                &:nth-child(2) {
                    transform: rotate(6.99deg);
                    & > img {
                        transform: rotate(353.5deg);
                    }
                }
            }
        }
        .abous_us_info {
            margin-top: 200px;
            max-width: 450px;
            .abous_us_info-heading {
                font-size: 70px;
                display: grid;
                grid-template-columns: 1fr max-content;
                gap: 40px;
                align-items: center;
                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: v.$green;
                }
            }
            .abous_us_info-description {
                margin-top: 60px;
                font-size: 20px;
                line-height: 120%;
            }
        }
    }
}