@use './../../../v';

.menu-page {
  .menu-page__header {
    .menu__heading-container {
      max-height: 550px;
    }
  }

  .menu-page__categories-container {
    display: flex;
    flex-direction: column;
  }

  .menu-page__coffee {
    $gap: 70px;

    display: grid;
    grid-template-columns: calc(60% - $gap / 2) calc(40% - $gap / 2);
    gap: $gap;
    max-width: 1225px;
    width: 100%;
    margin: auto;

    .menu-page__items {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }

    .menu-page__same-price-items {
      margin: auto 0 19px;

      .menu-page__items {
        border: 1px solid v.$green;
        padding: 30px 20px;
      }

      .menu-page__note {
        font-weight: 700;
        font-size: 13px;
        line-height: 130%;
        margin-top: 10px;
        padding: 0 15px;

        &::before {
          content: '*'
        }
      }

      .menu-page__to-volume {
        padding: 0 15px;
        margin-top: 20px;
        grid-template-columns: 1fr max-content;
      }
    }
  }

  .main-page__cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px 30px;
    max-width: 1350px;
    margin: auto;
  }
}