@mixin hideUnsignedPhotos {
	@media screen and (max-width: 1040px) {
		&.other-images__img-container:not(:first-child) {
			margin-top: 30px;
		}
		.other-images__sign {
			margin: 8px 0 0;
			writing-mode: initial;
		}
	}
}

@mixin sign {
	@media screen and (max-width: 1040px) {
		margin: 8px 0 0;
		writing-mode: initial;
		text-align: left;
	}
}

.other-images {
	margin-top: 100px;
	max-width: 1215px;
	margin: max(6.25%, 50px) auto 0;
}