@use './../../../../v';

.vacancy {
    display: grid;
    grid-template-columns: calc(v.$maxWidth/ 2) 1fr;
    gap: 120px;
    position: relative;
    .vacancy__vector-container {
        position: absolute;
        top: -2px;
        left: 50%;
        height: 90px;
        z-index: 1;
        .vacancy__vector {
            @include v.fullBleed('./../../../../assets/img/vacancy/vacancy_vector.webp');
            z-index: 1;
            height: 100%;
        }
    }
    .vacancy__employee {
        width: 100%;
        margin-left: -50px;
    }
    .vacancy__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .vacancy__sign1 {
            font-size: 60px;
        }
        .vacancy__sings23 {
            .vacancy__sign2 {
                font-size: 50px;
                margin-top: 120px;
            }
            .vacancy__sign3 {
                font-size: 30px;
                color: rgba(74, 73, 73, 0.47);
                margin-top: 20px;
            }
        }
        .vacancy__button {
            color: white;
            background-color: v.$green;
            padding: 25px 60px;
            border: none;
            margin-top: 80px;
            width: fit-content;
            cursor: pointer;
            font-family: v.$mainFont;
            font-size: 20px;
        }
    }
    .vacancy__leaf {
        inset: auto -50px 0 auto;
    }
}