.header {
    display: grid;
    grid-template-columns: max-content 1fr 40% max-content;
    gap: 15px;
    align-items: center;
    max-width: 1235px;
    margin: 0 auto;
    padding: 10px 0;
    &__logo {
        width: 70px;
        height: 40px;
    }
    &__phone {
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.19em;
        margin: 0 auto;
    }
}