$green: #008E8B;
$greenHover: #16afad;
$background: #FFFAEF;

$mainFont: bebasNeue;

$maxWidth: 1600px;
$container: 1500px;
$smallContainer: 1235px;

@mixin fullBleed($img, $backgroundColor: null) {
  position: relative;
  &::before {
    inset: 0 auto auto 0;
    height: 100%;
    content: '';
    width: 100vw;
    max-width: $maxWidth;
    margin-left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: -1;
    @if ($backgroundColor) {
      background-color: $backgroundColor;
    } @else {
      background-image: url($img);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }
}

@mixin greenHover {
  color: $green;
  transition: color .25s;
  &:hover {
    color: $greenHover;
  }
}