@use './../../../../v';

.location {
  background-color: v.$green;
  margin-top: max(6.25%, 50px);
  position: relative;

  .location__leaf1 {
    z-index: 1;
    inset: -80% 0 0 -10px;
  }

  .location__leaf2 {
    z-index: 1;
    inset: 70% 0 0 -22px;
    transform: scale(.8);
  }
  
  .location__leaf3 {
    inset: 170% 0 auto auto;
  }

  .location__leaf4 {
    inset: 450% -70px auto auto;
    transform: scale(.8) rotateY(180deg);
  }

  .location__inner {
    display: grid;
    grid-template-areas: 'h t2' 't1 t2';
    grid-template-columns: 1fr 1fr;
    padding: max(3.75%, 30px) 10px;
    max-width: 1250px;
    margin: 0 auto;
    column-gap: 7vw;
    z-index: 2;
    position: relative;

    @media screen and (max-width: 1040px) {
      grid-template-columns: 1fr;
      grid-template-areas: "h" "t1" "t2";
      row-gap: 20px;
    }

    @media screen and (max-width: 576px) {
      row-gap: 15px;
    }

    .location__item {
      color: white;
      font-size: 23px;
      line-height: 144%;
      letter-spacing: 0.02em;

      @for $i from 2 through 3 {
        &:nth-child(#{$i}) {
          grid-area: t#{$i - 1};
        }
      }

      @media screen and (max-width: 576px) {
        font-size: 20px;
      }
    }

    .location__heading {
      grid-area: h;
      color: white;
    }
  }
}